@model XXGL.Base.Models.HomeViewModel.PasswordInputFormViewModel
@{

}
@section Scripts {



<script type="text/javascript">

    var Save = function () {
        var form = $('#divFormEditPassword');

        if (form.valid()) {
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("EditPassword")',
                data: form.serialize(),
                dataType: "json",
                beforeSend: function () {
                    $.ShowLoading('divBoxBody')
                },
                success: function (data) {
                    $.HideLoading('divBoxBody')
                    if (data.IsSuccess) {
                        $.SuccessToast(data.Message);
                        debugger
                    }
                    else {
                        $.SuccessToast(data.Message);
                    }
                },
                error: function (x, h, r) {
                    $.HideLoading('divBoxBody')
                    $.SuccessToast(x.responseText); 
                }
            });
   
        } 
    }


    </script>
    }


<button class="btn btn-app btn-primary  " onclick="Save()">
    <i class=" fa fa-key  "></i>
    @Resources.Resource.Save
</button>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"> @Resources.Resource.EditPassword</h3>
            </div>
            <div class="box-body" id="divBoxBody">
                <div class="table-responsive">
                    <form id="divFormEditPassword">
                        <table class="table  table-striped table-bordered table-hover  table-input ">
                            <tr >
                                <th class="col-sm-1 " >@Html.LabelFor(x => x.NewPassword)</th>
                                <td class="col-sm-11" >
                                    @Html.PasswordFor(x => x.NewPassword, new { @class = "col-sm-2 "})
                                    <br />
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm-1">@Html.LabelFor(x => x.ConfirmPassword)</th>
                                <td class="col-sm-11 ">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "col-sm-2" })
                                    <br />
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



