@model XXGL.Base.Models.OrganizationModel.CreateOrganizationInputFormViewModel
@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {

        /*
       * 注意这儿一定要重新注册，否则无法启用验证。
       *reference：https://www.itsvse.com/forum.php?mod=viewthread&tid=3342
        */
        $.validator.unobtrusive.parse($("#CreateForm"));


        $(".icon").click(function () {
            $("#selected_icon").removeClass().addClass($(this).attr('class')).addClass(" text-green fa-lg");
            $('#divIconGrid').modal('hide');
        });



        //$("#ParentUniqueID").selectExtend("请选择父节点", "100%", "@Url.Action("GetDownOrganizationsByParentUniqueID", "Utility")");
        $("#ParentUniqueID").click(function () {
            $.ShowModalOrganizationTree(function () {
                alert(zTreeObj.getCheckedNodes().id);
                console.log(zTreeObj.getCheckedNodes());
                console.log($.fn.zTree.getZTreeObj("modalOgranizationTree").getCheckedNodes())
            });
        })
    
        



        //GetDownOrganizationsByParentUniqueID


    });

        var Save = function () {
            var form = $('#CreateForm');
            if (form.valid()) {
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Create")",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.IsSuccess) {
                            $.SuccessToast(data.Message);
                            $("#divEditFormContainer").hide();
                            $("#divQueryContainer").show();
                            $("#criteria-form").submit();
                        } else {
                            $.ErrorToast(data.Message);
                        }
                    },
                    error: function (x, t, e) {
                        $.ErrorToast("系统错误")
                    }
                })
            };
        };

      var SelectOrganiztaionIcon = function () {
          $('#divIconGrid').modal('show');
       };





</script>

<button class="btn btn-app btn-primary  " onclick="Save()" title="保存">
    <i class=" fa fa-save "></i>
    保存
</button>

<button class="btn btn-app btn-purple  " onclick="Cancel()" title="取消">
    <i class=" fa fa-repeat  "></i>
    取消
</button>

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">新增组织信息</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <form id="CreateForm">
                    <table class="table no-margin  table-striped table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.ID)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.ID)
                                </td>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.Name)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.Name)
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th> @Html.LabelFor(x => x.Icon)</th>
                                <td>
                                    @*@Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })*@
                                    @Html.HiddenFor(x => x.Icon)
                                    <span id="selected_icon" class="fa fa-edit text-green fa-lg" onclick="SelectOrganiztaionIcon()"></span>
                               

                                </td>
                                <th>@Html.LabelFor(x => x.ParentUniqueID)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.ParentUniqueID)
                                    @Html.ValidationMessageFor(x => x.ParentUniqueID)
                                </td>
                            </tr>
                            <tr>
                                <th> @Html.LabelFor(x => x.ManagerUniqueID)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.ManagerUniqueID, new { @class = "form-control" })

                                </td>
                                <th>@Html.LabelFor(x => x.Seq)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.Seq, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Seq)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divIconGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">请选择图案</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td><i class="fa fa-fw icon"></i></td>
                        <td><i class="fa fa-fw fa-amazon  icon"></i></td>
                        <td><i class="fa fa-fw fa-balance-scale icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-0 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-1 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-2 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-3 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-4 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-empty icon"></i></td>
                        <td><i class="fa fa-fw icon"></i></td>
                        <td><i class="fa fa-fw fa-amazon  icon"></i></td>
                        <td><i class="fa fa-fw fa-balance-scale icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-0 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-1 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-2 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-3 icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-4 icon"></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-fw fa-battery-full icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-half icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-quarter icon"></i></td>
                        <td><i class="fa fa-fw fa-battery-three-quarters icon"></i> </td>
                        <td><i class="fa fa-fw fa-black-tie icon"></i> </td>
                        <td> <i class="fa fa-fw fa-calendar-check-o icon"></i></td>
                        <td><i class="fa fa-fw fa-calendar-minus-o icon"></i></td>
                        <td><i class="fa fa-fw fa-calendar-plus-o icon"></i></td>
                        <td><i class="fa fa-fw fa-calendar-times-o icon"></i> </td>
                        <td><i class="fa fa-fw fa-cc-diners-club icon"></i></td>
                        <td><i class="fa fa-fw fa-cc-jcb icon "></i></td>
                    </tr>


                </table>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>