@model XXGL.Base.Models.WebFunction.CreateWebFunctionInputForm
@{
    Layout = null;
}

<script type="text/javascript">
        $(function () {

            /*
           * 注意这儿一定要重新注册，否则无法启用验证。
           *reference：https://www.itsvse.com/forum.php?mod=viewthread&tid=3342
            */
            $.validator.unobtrusive.parse($("#WebFunctionCreateForm"));


            $('.CreateWebFunctionIsDisplay').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

        });
    var CreateWebFunctionSave = function () {
        var form = $('#WebFunctionCreateForm');
            if (form.valid()) {
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Create")",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.IsSuccess) {
                            $.SuccessToast(data.Message);
                            $("#divWebFunctionEditFormContainer").hide();
                            $("#divWebFunctionQueryContainer").show();
                            RefreshWebFunctionTable();
                        } else {
                            $.ErrorToast(data.Message);
                        }
                    },
                    error: function (x, t, e) {
                        $.ErrorToast("系统错误")
                    }
                })
            };
        };
</script>

<button class="btn btn-app btn-primary  " onclick="CreateWebFunctionSave()" title="保存">
    <i class=" fa fa-save "></i>
    保存
</button>



<button class="btn btn-app btn-purple  " onclick="Cancel('divWebFunctionQueryContainer','divWebFunctionEditFormContainer')" title="取消">
    <i class=" fa fa-repeat  "></i>
    取消
</button>

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <a class="fa  fa-plus success"> </a><h3 class="box-title text-success">新增菜单信息 </h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <form id="WebFunctionCreateForm">
                    <table class="table no-margin  table-striped table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.CreateWebFunctionId)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.CreateWebFunctionId, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.CreateWebFunctionId)
                                </td>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.CreateWebFunctionDescription)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.CreateWebFunctionDescription, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.CreateWebFunctionDescription)
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th> @Html.LabelFor(x => x.CreateWebFunctionParentId)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionParentId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CreateWebFunctionParentId)

                                </td>
                                <th>@Html.LabelFor(x => x.CreateWebFunctionArea)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionArea, new { @class = "form-control" })
                               
                                </td>
                            </tr>


                            <tr>
                                <th> @Html.LabelFor(x => x.CreateWebFunctionController)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionController, new { @class = "form-control" })
                             

                                </td>
                                <th>@Html.LabelFor(x => x.CreateWebFunctionAction)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionAction, new { @class = "form-control" })
                    
                                </td>
                            </tr>

                            <tr>
                                <th> @Html.LabelFor(x => x.CreateWebFunctionIcon)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionIcon, new { @class = "form-control" })
                                  

                                </td>
                                <th>@Html.LabelFor(x => x.CreateWebFunctionSeq)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateWebFunctionSeq, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x=>x.CreateWebFunctionSeq)
                               
                                </td>
                            </tr>


                            <tr>
                           
                                <th>@Html.LabelFor(x => x.CreateWebFunctionIsDisplay)</th>
                                <td>
                                    @Html.RadioButtonFor(x => x.CreateWebFunctionIsDisplay, true, new { @id = "OK", @name = "CreateWebFunctionIsDisplay", @class = "CreateWebFunctionIsDisplay" })  是
                                    &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(x => x.CreateWebFunctionIsDisplay, false, new { @id = "No", @name = "CreateWebFunctionIsDisplay", @class = "CreateWebFunctionIsDisplay" })  否

                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
