
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XXGL(信息管理系统)</title>
    <!-- Bootstrap -->
    <link href="~/Scripts/gentelella/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Scripts/gentelella/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Scripts/gentelella/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->

    <link href="~/Scripts/gentelella/iCheck/skins/flat/grey.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Scripts/gentelella/build/css/custom.min.css" rel="stylesheet" />

    @*@Styles.Render("~/Basic/css")*@

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>信息管理平台</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <div class="divider"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @Html.Partial("_WebFunctions", Session["Account"] as XXGL.Base.Models.Authenticated.Account)
                   
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <!-- /menu footer buttons -->
                </div >
              
                </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    @Html.Partial("_UserFunction", Session["Account"] as XXGL.Base.Models.Authenticated.Account)
                </div>
            </div>

            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @Html.Partial("_BreadCrumb",Session["Account"] as XXGL.Base.Models.Authenticated.Account)



                @RenderBody()



            </div>


            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    2016-06-17 <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/Basic/js")

    @*<!-- jQuery -->
    <script src="~/Scripts/gentelella/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/gentelella/bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/gentelella/fastclick/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Scripts/gentelella/nprogress/nprogress.js"></script>

    <script src="~/Scripts/gentelella/iCheck/icheck.min.js"></script>

    <script src="~/Scripts/gentelella/build/js/custom.min.js"></script>*@

</body>
</html>
