@model  XXGL.Base.Models.Authenticated.Account
@{
    Layout = null;
}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span><img alt="image" class="img-circle" src="@Url.Content("~/Content/Images/profile_small.jpg")" /></span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">

                <span class="block m-t-xs"><strong class="font-bold">@Model.ID </strong></span>
                <span class="text-muted text-xs block">@Model.Name<b class="caret"></b></span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
                <a class="J_menuItem" href="#">@Resources.Resource.Version @Utility.Define.Version </a>
            </li>
            <li>
                <a class="J_menuItem" href="#">@Resources.Resource.EditImage</a>
            </li>

            <li>
                <a class="J_menuItem" href="#">@Resources.Resource.EditPassword</a>
            </li>

            <li>
                <a class="J_menuItem" href="#">@Resources.Resource.Lanuage </a>
            </li>


            <li class="divider"></li>
            <li>
                <a class="J_menuItem" href="#">@Resources.Resource.Logout</a>
            </li>
        </ul>
    </div>
    <div class="logo-element">
        H+
    </div>
</li>