@model XXGL.Base.Models.Authenticated.Account
@{
    Layout = null;
}

    <ul class="nav side-menu">
       @foreach (var ancestor in Model.FunctionItemList)
        {
            <li>
                @if (string.IsNullOrEmpty (ancestor.Action))
                {
                    <a><i class="fa @ancestor.Icon"></i>@ancestor.Description <span class="fa fa-chevron-down"></span></a>
                }
                else
                {
                    <a  href="@Url.Action(ancestor.Action, ancestor.Controller, new { area=ancestor.Area})"><i class="fa @ancestor.Icon" ></i>@ancestor.Description <span class="fa fa-chevron-down"></span></a>
                }

                @*<a><i class="fa @ancestor.Icon"></i>@ancestor.Description <span class="fa fa-chevron-down"></span></a>*@
            
                <ul class="nav child_menu">
                    @foreach (var parent in ancestor.SubFunctionItemList)
                    {
                        if (parent.SubFunctionItemList.Count == 0)
                        {
                            <li>  <a  class="fa fa-user " style="width:auto" href="@Url.Action(parent.Action, parent.Controller, new { area=parent.Area})">  @parent.Description </a></li>
                        }
                        else
                        {
                            <li >
                                <a  class="fa fa-users   "  style ="width:100%">@parent.Description <span class="fa fa-chevron-down "></span></a>
                                @if (parent.SubFunctionItemList.Count != 0)
                                {
                                    <ul class="nav child_menu">
                                        @foreach (var current in parent.SubFunctionItemList)
                                        {
                                            <li class=" sub_menu"><a href="@Url.Action(current.Action, current.Controller, new { area = current.Area })" class="fa fa-user " style="width:auto">   @current.Description</a></li>
                                        }
                                    </ul>

                                }
                            </li>
                        }


                    }
                </ul>

            </li>
        }
        </ul>
