@model XXGL.Base.Models.UserViewModel.CreateUserInputFormViewModel
@{
    Layout = null;
}

<script type="text/javascript">
        $(function () {

            /*
           * 注意这儿一定要重新注册，否则无法启用验证。
           *reference：https://www.itsvse.com/forum.php?mod=viewthread&tid=3342
            */
            $.validator.unobtrusive.parse($("#CreateForm"));

            $('#BirthDay').datepicker({
                autoclose: true,//选中之后自动隐藏日期选择框
                todayHighlight: true,
                language: "zh-CN",
                // clearBtn: true,//清除按钮
                format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
            });


            $('#StartExpiryDate').datepicker({
                autoclose: true,//选中之后自动隐藏日期选择框
                todayHighlight: true,
                language: "zh-CN",
                clearBtn: true,//清除按钮
                format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
            });

            ///有效期结束日期
            $('#EndExpiryDate').datepicker({
                autoclose: true,//选中之后自动隐藏日期选择框
                todayHighlight: true,
                language: "zh-CN",
                clearBtn: true,//清除按钮
                format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
            });




            $('.IsLogin').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });


            $("#divCreateUserOrganization").click(function () {
                $.ShowModalOrganizationTree(function () {
                    var treeObj = $.fn.zTree.getZTreeObj("modalOgranizationTree");
                    //1. 获取当前被选中的节点数据集合
                    var nodes = treeObj.getSelectedNodes();
                    $("#CreateUserOrganizationName").val(nodes[0].id + "/" + nodes[0].name);
                    $("#CreateUserOrganizationUniqueID").val(nodes[0].uniqueid);

                });
            })


        });
        var Save = function () {
            var form = $('#CreateForm');
            if (form.valid()) {
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Create")",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.IsSuccess) {
                            $.SuccessToast(data.Message);
                            $("#divEditFormContainer").hide();
                            $("#divQueryContainer").show();
                            $("#criteria-form").submit();
                        } else {
                            $.ErrorToast(data.Message);
                        }
                    },
                    error: function (x, t, e) {
                        $.ErrorToast("系统错误")
                    }
                })
            };
        };




</script>

<button class="btn btn-app btn-primary  " onclick="Save()" title="保存">
    <i class=" fa fa-save "></i>
    保存
</button>



<button class="btn btn-app btn-purple  " onclick="Cancel('divUserContainer','divUserEditFormContainer')" title="取消">
    <i class=" fa fa-repeat  "></i>
    取消
</button>

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <a class="fa  fa-plus success"> </a><h3 class="box-title text-success" >新增人员信息 </h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <form id="CreateForm">
                    @Html.HiddenFor(x => x.CreateUerUniqueID)
                    <table class="table no-margin  table-striped table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.CreateUerID)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.CreateUerID, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.CreateUerID)
                                </td>
                                <th class="col-sm-6 col-md-2">@Html.LabelFor(x => x.CreateUerName)</th>
                                <td class="col-sm-6 col-md-4">
                                    @Html.TextBoxFor(x => x.CreateUerName, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.CreateUerName)
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th> @Html.LabelFor(x => x.CreateUerTitle)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateUerTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CreateUerTitle)

                                </td>
                                <th>@Html.LabelFor(x => x.CreateUerEmail)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateUerEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CreateUerEmail)
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(x => x.CreateUerBirthDay)</th>
                                <td>
                                    <div class="input-group date">

                                        @Html.TextBoxFor(x => x.CreateUerBirthDay, new { @class = "form-control", @readonly = "readonly" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </td>
                                <th>@Html.LabelFor(x => x.CreateUerMobilePhone)</th>
                                <td>
                                    @Html.TextBoxFor(x => x.CreateUerMobilePhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CreateUerMobilePhone)
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(x => x.CreateUserOrganizationUniqueID) </th>
                                <td>

                                    <div class="form-group">
                                        <div class="input-group" id="divCreateUserOrganization">
                                            <input type="text" class="form-control" id="CreateUserOrganizationName" readonly />
                                            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                            @Html.HiddenFor(x => x.CreateUserOrganizationUniqueID)
                                            @Html.ValidationMessageFor(x => x.CreateUserOrganizationUniqueID)
                                        </div>
                                    </div>

                                </td>
                                <th>@Html.LabelFor(x => x.CreateUerIsLogin)</th>
                                <td>
                                    @Html.RadioButtonFor(x => x.CreateUerIsLogin, true, new { @id = "OK", @name = "IsLogin", @class = "IsLogin" })  是
                                    &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(x => x.CreateUerIsLogin, false, new { @id = "No", @name = "IsLogin", @class = "IsLogin" })  否
                                    @Html.ValidationMessageFor(x => x.CreateUerIsLogin)
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(x => x.CreateUerStartExpiryDate) </th>
                                <td>

                                    <div class="input-group date">

                                        @Html.TextBoxFor(x => x.CreateUerStartExpiryDate, new { @class = "form-control", @readonly = "readonly" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>


                                </td>
                                <th>@Html.LabelFor(x => x.CreateUerEndExpiryDate)</th>
                                <td>
                                    <div class="input-group date">

                                        @Html.TextBoxFor(x => x.CreateUerEndExpiryDate, new { @class = "form-control", @readonly = "readonly" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <th>@Html.LabelFor(x => x.CreateUerOther)</th>
                                <td colspan="3">
                                    @Html.TextAreaFor(x => x.CreateUerOther, new { @class = "form-control" })

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
