@model XXGL.Base.Models.UserViewModel.UserViewModel
@using PagedList;
@using PagedList.Mvc;

@{
    Layout = null;
    var resultInfo = Model.GridItem.TotalItemCount == 0 ? "" : string.Format("总共有{0}条数据，当前显示为{1}到{2}", Model.GridItem.TotalItemCount, Model.GridItem.FirstItemOnPage, Model.GridItem.LastItemOnPage);
    var idx = Model.GridItem.FirstItemOnPage;
}
@*<script src="@Url.Content("~/Content/jQueryTabeZ/jQueryTabeZsy/js/table.js")"></script>
<link href="@Url.Content("~/Content/jQueryTabeZ/jQueryTabeZsy/css/style.css")" rel="stylesheet" />*@

@*<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>*@
@*<script src="@Url.Content("~/Content/AdminLTE/plugins/iCheck/icheck.min.js")"></script>>*@

<script type="text/javascript">

    $(function () {


        //reference：http://blog.csdn.net/peter_qyq/article/details/51995191插件的详细说明
        $(".userPhoto").fancybox({});
        //$("#table-sort").setTable();  //可以参考

        $("input").iCheck({
         labelHover : false, 
        cursor : true, 
        checkboxClass : 'icheckbox_square-blue',   //注意blue的大小写
        radioClass : 'iradio_square-blue', 
        increaseArea : '20%' 
        });

        $('#all-user-check').on('ifUnchecked', function (event) {
            $('.user-check').iCheck('uncheck');
        }).on('ifChecked', function (event) {
            $('.user-check').iCheck('check');
        });
    });

 
</script>

<small>@resultInfo</small>
<div class="table-responsive">
    <table  id="table-sort" class="table no-margin  table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-sm-1 center">
                <input  type="checkbox"  id="all-user-check"/>
                </th>
                <th>操作</th>
                <th>项次</th>
                @*<a data-ajax="true" data-ajax-begin="$.ShowLoading('divGridView')" data-ajax-complete="$.HideLoading('divGridView')" data-ajax-mode="replace" data-ajax-update="#divGridView" href="@Url.Action("Query", new {Model.Parameter.PageNo,Model.Parameter.ID })">4</a>*@
                <th>用户编号 </th>
                <th>用户名称</th>
                <th>职称</th>
                <th>Email</th>
                <th>电话</th>
                <th>部门</th>
                <th>上次登陆时间</th>
                <th>状态</th>
                <th>有效期</th>
                <th>是否可以登录</th>
                <th>图片</th>
            </tr>
        </thead>


        @foreach (var item in Model.GridItem)
        {
        
            <tr>
                <td > <input type="checkbox" class="user-check "  value="@item.UniqueID"/></td>
                <td >
                    <a href="#" title="编辑" onclick="Edit('divUserEditFormContainer','divUserContainer','@Url.Action("Edit")',  '@item.UniqueID')">
                        <i class=" fa fa-edit text-green  fa-lg"></i>
                    </a>
                    <a href="#" style="margin-left:10px" title="删除" onclick="Delete('@item.UniqueID')">
                        <i class=" fa fa-trash-o  text-red fa-lg "></i>
                    </a>
                    @if (!item.State)
                    {
                        <a href="#" style="margin-left:10px" title="恢复" onclick="Revert('@item.UniqueID')">
                            <i class=" fa    fa-undo text-blue fa-lg "></i>
                        </a>
                    }
                </td>
                <td >@(idx++)</td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Email</td>
                <td>@item.MobilePhone</td>
                <td>@item.OrganizationUniqueID</td>
                <td>@item.LastLoginTime</td>
                @if (item.State)
                {
                    <td>  <span class="badge bg-light-blue">@Resources.Resource.Normal</span> </td>
                }
                else
                {
                    <td><span class="badge bg-red">@Resources.Resource.Invalid</span></td>
                }

                <td><span class="badge @item.ExpiryDateStatusColor">@item.ExpiryDateStatus</span></td>
                @if (item.IsLogin)
                {
                    <td>  <span class="badge bg-light-blue">是</span> </td>
                }
                else
                {
                    <td><span class="badge bg-red">否</span></td>
                }



                <td>
                    @if (!string.IsNullOrEmpty(item.Photo))
                    {
                        @*<a class="userPhoto " href="@Url.Content(string.Format("{0}/{1}", Utility.Config.FullVirtualUserPhtoto,"1.jpg")) " title="1235">
                                <img class="user-image" src="@Url.Content(string.Format("{0}/{1}", Utility.Config.FullVirtualUserPhtoto,"1.png")) " kesrc="@Url.Content(string.Format("{0}/{1}", Utility.Config.FullVirtualUserPhtoto,"1.jpg")) " alt="123">
                            </a>*@
                        <a class="userPhoto" href="@Url.Content("~/Content/Images/1.jpg")" title="@item.Name">
                            <img src="@Url.Content("~/Content/Images/11.png")" alt="">
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>


@Html.PagedListPager(Model.GridItem, pageNo => Url.Action("Query", new { pageNo, Model.Parameter.ID, Model.Parameter.Name, Model.Parameter.OrganizationUniqueID }), Utility.SiteLibrary.GetDefaultPagerOptions("divUserGridView"))
@Html.Partial("_Criteria", Model) 

<style>
    td {
    vertical-align: middle;
    text-align: center;
    }
</style>

