@model XXGL.Base.Models.UserViewModel.UserViewModel
@{
    Layout = null;
    ViewBag.Title = "用户信息";
}




<!--图片弹出窗fancybox-->
<script src="@Url.Content("~/Content/fancyBox/lib/jquery.mousewheel.pack.js")"></script>
<script src="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.js")"></script>
<script src="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.pack.js")"></script>
<link href="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/AdminLTE/plugins/iCheck/icheck.js")"></script>
<link href="@Url.Content("~/Content/AdminLTE/plugins/iCheck/all.css")" rel="stylesheet" />




<div id="divUserContainer">
    <div class="row">
        <div class="col-md-12" id="divUserQueryCondition">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><a class="fa fa-fw fa-filter success"></a>查询条件</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-box-tool " data-toggle="tooltip" title="新增" onclick="Create('divUserEditFormContainer', 'divUserContainer','@Url.Action("Create")')">
                            <i class="fa fa-plus  fa-lg   text-primary"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool " data-toggle="tooltip" title="查询" onclick="Query()">
                            <i class="fa fa-search fa-lg    text-primary"></i>
                        </button>
                        &nbsp;
                        &nbsp;
                    </div>

                </div>
                <div class="box-body">
                    <div class=" row ">
                        <form id="QueryUserForm">
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.ID, new { @class = "control-label" })
                            </div>
                            <div class=" col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                @Html.TextBoxFor(x => x.Parameter.ID, new { @class = "form-control" })
                            </div>
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.Name, new { @class = "control-label" })
                            </div>
                            <div class=" col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                @Html.TextBoxFor(x => x.Parameter.Name, new { @class = "form-control" })
                            </div>
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.OrganizationUniqueID, new { @class = "control-label" })
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                <div class="input-group" id="divUserParameterOrganization">
                                    <input type="text" class="form-control" id="Parameter_OrganizationName"  readonly />
                                    <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                    @Html.HiddenFor(x => x.Parameter.OrganizationUniqueID)
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border ">
                    <h3 class="box-title"> <a class="fa fa-fw fa-cogs  "></a> 查询结果</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-box-tool " data-toggle="tooltip" title="删除" onclick="Delete()">
                            <i class="fa fa-trash-o fa-lg  text-red "></i>
                        </button>
                        &nbsp;
                        &nbsp;
                    </div>
                </div>
                <div class="box-body">
                    <div id="divUserGridView"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divUserEditFormContainer">

</div>






<script type="text/javascript">

    $(function () {
        $("#divEditFormContainer").hide();

        $("#divUserParameterOrganization").click(function () {
            $.ShowModalOrganizationTree(function () {
                var treeObj = $.fn.zTree.getZTreeObj("modalOgranizationTree");
                //1. 获取当前被选中的节点数据集合
                var nodes = treeObj.getSelectedNodes();
           
                $("#Parameter_OrganizationName").val(nodes[0].id + "/" + nodes[0].name);
                $("#Parameter_OrganizationUniqueID").val(nodes[0].uniqueid);  

            });
        })


        Query("@Url.Action("Query")", $("#QueryUserForm").serialize(),"divUserGridView");
    })
</script>