@model XXGL.Base.Models.UserViewModel.UserViewModel
@{
    ViewBag.Title = "用户信息";
}



@section Scripts {
    <!--图片弹出窗fancybox-->
    <script src="@Url.Content("~/Content/fancyBox/lib/jquery.mousewheel.pack.js")"></script>
    <script src="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.js")"></script>
    <script src="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.pack.js")"></script>
    <link href="@Url.Content("~/Content/fancyBox/source/jquery.fancybox.css")" rel="stylesheet" />

    <script type="text/javascript">
  
        $(function () {
            $("#divEditFormContainer").hide();
            Query();
        })

        var Query = function () {
                 $.ajax({
                     type: "Post",
                     url: "@Url.Action("Query")",
                     data: $("#QueryForm").serialize(),
                     dataType: "html",
                     beforeSend:function(){
                         $.ShowLoading("divGridView");
                     },
                     success: function (data) {
                         $('#divGridView').empty();
                         $.HideLoading("divGridView");
                        $('#divGridView').html(data);
                     },
                     
            });
        }

        var Edit = function (uniqueID)
        {
            $("#divEditFormContainer").show();
     
            $("#divQueryContainer").hide();

            $.ajax({
                type: "Get",
                url: "@Url.Action("Edit")",
                data: {"uniqueID":uniqueID},
                dataType: "html",
                success: function (data) {
                    $('#divEditFormContainer').html(data);
            }
        });
        }

        var Add = function () {
            $("#divEditFormContainer").show();
            $("#divQueryContainer").hide();
        }

        var Cancel = function () {
            $("#divEditFormContainer").hide();
            $("#divQueryContainer").show();
        }

    </script>
}


<div id="divQueryContainer">
    <div class="row">
        <div class="col-md-12" id="divCondition">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">@Resources.Resource.Condition</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-box-tool " data-toggle="tooltip" title="@Resources.Resource.Add" onclick="Add()">
                            <i class="fa fa-plus  fa-lg   text-primary"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool " data-toggle="tooltip" title="@Resources.Resource.Search" onclick="Query()">
                            <i class="fa fa-search fa-lg    text-primary"></i>
                        </button>
                        &nbsp;
                        &nbsp;

                    </div>

                </div>
                <div class="box-body">
                    <div class=" row ">
                        <form id="QueryForm">
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.ID, new { @class = "control-label" })
                            </div>
                            <div class=" col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                @Html.TextBoxFor(x => x.Parameter.ID, new { @class = "form-control" })
                            </div>
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.Name, new { @class = "control-label" })
                            </div>
                            <div class=" col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                @Html.TextBoxFor(x => x.Parameter.Name, new { @class = "form-control" })
                            </div>
                            <div class=" col-lg-1 col-md-3 col-sm-3 col-xs-3  form-group">
                                @Html.LabelFor(x => x.Parameter.OrganizationUniqueID, new { @class = "control-label" })
                            </div>
                            <div class=" col-lg-2 col-md-3 col-sm-9 col-xs-9 form-group">
                                @Html.TextBoxFor(x => x.Parameter.OrganizationUniqueID, new { @class = "form-control" })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> @Resources.Resource.QueryResult</h3>
                </div>
                <div class="box-body">
                    <div id="divGridView"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divEditFormContainer">
    
</div>
